* {
    box-sizing: border-box;
    font-family: 'Barlow', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
}
.top-content-container {
    height:500px;
}
body {
    margin: 0px;
    background-color: rgb(31, 31, 31);
    color: white;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 100px;
    color:rgb(255, 255, 255)
}
h2{
    font-size: 60px;
    color: rgb(255, 106, 60);
}
h3 {
    font-size: 34px;
}
h4 {
    font-size: 25px;
}
p{
    font-size: 24px;
}
nav {
    background-color: rgb(255, 106, 60);
    top:0;
    left:0;
    position: absolute;
    height: 100px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:70px;
}
.navbar-item {
    font-size: 20px;
    cursor: pointer;
    padding:20px;
    margin-left: 20px;
}
.navbar-item:hover {
    background: rgb(255, 84, 32);
}
.headline-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.header-image {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:-1;
}
main {
    margin-top: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 1000px;
}
.main-text-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width:50%;
    margin-top: -150px;
    gap:-10px;
}
.introduction-p {
    color: rgb(255, 106, 60);
    font-size: 18px;
    line-height: 30px;
}
.main-offer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 200px;
    background-color: rgb(42, 42, 42);
    margin-top: 50px;
    width: 100%;
    height: 400px;
}
.main-offer-cell1 {
    width: 230px;
    height: 230px;
    border-radius: 20px;
    background-color: rgb(42, 42, 42);
    border: 1px solid white;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
}
.main-offer-cell2 {
    width: 260px;
    height: 260px;
    border-radius: 20px;
    background-color: rgb(42, 42, 42);
    border: 1px solid white;
    text-align: center;
    padding: 18px;
    padding-top: 0px;
}
.main-offer-cell-p{
    font-size: 18px;
}
.main-testimonial-container {
    background: white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000px;
    margin-top: -200px;
}
.main-testimonial-background-container {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 106, 60, 0.2);
    width: 100%;
    padding:30px;
    height:100%;
}
.testimonial-h2 {
}
.main-testimonial-card-container {
    padding-left:50px;
    padding-right: 50px;
    display: flex;
    width:100%;
    height: 600px;
}
.main-testimonial-card1 {
    padding:40px;
    background-color: rgb(255, 106, 60);
    border-radius: 20px;
    border: 10px solid white;
    justify-content: left;
    align-items: left;
    width: 50%;
    text-align: left;
    box-shadow: 0px 0px 30px rgb(177, 177, 177);
}
.main-testimonial-card-1-topline{
    display: flex;
    flex-direction: row;
}
.male-picture {
    width: 80px;
    height: 80px;
    margin-top: 14px;
    border-radius: 40px;
    border: 3px solid white;
    margin-left: 180px;
}
.main-testimonial-card2 {
    margin-left: 100px;
    padding: 40px;
    background-color: rgb(255, 106, 60);
    border-radius: 20px;
    border: 10px solid white;
    justify-content: left;
    align-items: left;
    width: 50%;
    text-align: left;
    box-shadow: 0px 0px 30px rgb(177, 177, 177);
}
.main-testimonial-card-2-topline{
    display: flex;
    flex-direction: row;
}
.female-picture {
    width: 80px;
    height: 80px;
    margin-top: 14px;
    border-radius: 40px;
    border: 3px solid white;
    margin-left: 180px;
}
.five-star-container {
    display: flex;
    flex-direction: row;
}
.five-star-image {
    width: 50px;
    height: 50px;
    margin-top: -0px;
}